<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="proxy_log.log"
                logLevel="INFO"
                mustMatch="true">
  <serverUrls>
    <serverUrl url="http://123.206.254.127:6080/arcgis/rest/services" matchAll="true" clientId="http://localhost:8080"
    	tokenServiceUri="http://123.206.254.127:6080/arcgis/tokens/" userName="siteadmin" password="Super123"/>
  </serverUrls>

</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
